*{
    font-family: Arial, Helvetica, sans-serif;
}

#CSSscam{
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.5em;
}

#CSSmoney{
    font-size: 2em;
    text-align: center;
}

#buyStuffTings{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#CSSbuyone, #CSSbuytwo{
    width: 20%;
    display: inline-block;
}

#buyStuffTings button{
    background-color: #dcdcdc;
    color: black;
    font-size: 16px;
    border: 2px solid #dcdcdc;
    display:block;
    margin: auto;
    width: 50%;
}

#buyStuffTings button:hover{
    background-color: #b9b9b9;
}

#buyStuffTings button:active{
    background-color: white;
}

#buyStuffTings p{
    text-align: center;
}